body {
  background-image: url(../assets/background/blackpaper-hires.jpg);
}

.header {
  animation: colorchange 10s linear 1s infinite;
  /* animation-name followed by duration in seconds*/
  /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 10s linear 0s infinite alternate;
  /* Chrome and Safari */
}

@keyframes colorchange {
  0% {
    background: blue;
    color: cyan;
  }

  33% {
    background: darkslateblue;
    color: lightskyblue;
  }

  66% {
    background: white;
    color: blueviolet;
  }

  100% {
    background: darkblue;
    color: cyan;
  }
}

@-webkit-keyframes colorchange

/* Safari and Chrome - necessary duplicate */
  {
  0% {
    background: blue;
    color: cyan;
  }

  33% {
    background: darkslateblue;
    color: lightskyblue;
  }

  66% {
    background: white;
    color: blueviolet;
  }

  100% {
    background: darkblue;
    color: cyan;
  }
}

.header {
  color: inherit;
  box-shadow: 0px 0px 30px 0px greenyellow;
  border-radius: 20px;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

a img {
  margin: 10px;
  width: 100px;
}

.link img {
  float: left;
  height: 100px;
  width: 250px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  opacity: 30%;
  border-radius: 20px;
  box-shadow: 0px 0px 30px 0px white;
}

.link img:hover {
  opacity: 100%;
  box-shadow: 0px 0px 40px 0px greenyellow;

}

p {
  font-family: cursive;
  font-size: 4.5vw;
  color: white;
  font-weight: 900;
  text-align: center;
}


/* MOBILE DEPLOYMENT */
@media (max-width: 510px) {
  a img {
    width: 50px;
  }

  .link img {
    height: 100px;
    width: 180px;
    margin: 15px;
  }

  .link img:hover {
    opacity: 100%;
    box-shadow: 0px 0px 40px 0px greenyellow;

  }

  .row {
    margin-right: auto;
    margin-left: auto;
  }
}